<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to t('action.show_user'), @user ,class:"btn btn-primary"%> |
  <%= link_to t('action.back_user'), users_path ,class:"btn btn-warning"%>
</div>
