
#task_user_id{
    
    
     width:100%;
     padding:5px;
     border-radius: 5px;
    border:1px solid #8080808a;
}

.nav-link {
    border:1px solid rgba(128, 128, 128, 0.341);
    margin-left:5px;
    border-radius:8px;
    transition: 600ms;
}
.nav-link:hover {
    border:1px solid rgba(128, 128, 128, 0.341);
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.532);
    margin-left:5px;
    border-radius:8px;
    transition: 600ms;
}